version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: github.com/go-logr/logr
        versions:
          - "> 0.1.0"
      - dependency-name: github.com/operator-framework/operator-sdk
        versions:
          - "> 0.17.0"
      - dependency-name: k8s.io/api
        versions:
          - "> 0.18.6"
      - dependency-name: k8s.io/apiextensions-apiserver
        versions:
          - "> 0.18.6"
      - dependency-name: k8s.io/apimachinery
        versions:
          - "> 0.18.6"
      - dependency-name: sigs.k8s.io/controller-runtime
        versions:
          - "> 0.6.2"
