dist: xenial
language: go

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+.*$/
  - /^release-\d+.\d+.*$/
 
git:
  depth: 1

jobs:
  include:
    - env: CMD="make ci"
    - env: CMD="make e2e lighthouse=true"
    - env: CMD="make e2e lighthouse=true globalnet=true"

install:
  - sudo apt-get install moreutils # make ts available

services:
  - docker
script:
  - set -o pipefail;
    $CMD 2>&1 | ts '[%H:%M:%.S]' -s
deploy:
  - provider: script
    script: bash scripts/release
    on:
      branch: master
  - provider: script
    script: bash scripts/release $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
