---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: submariner-operator:globalnet
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - namespaces
      - nodes
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - submariner.io
    resources:
      - endpoints
      - clusters
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - lighthouse.submariner.io
    resources:
      - serviceexports
    verbs:
      - get
      - list
      - watch
