---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: submariner-gateway
subjects:
  - kind: ServiceAccount
    name: submariner-gateway
    namespace: $(SA_NAMESPACE)
roleRef:
  kind: Role
  name: submariner-gateway
  apiGroup: rbac.authorization.k8s.io
