<!DOCTYPE html>
<html>
<style>
  th,
  td {
    padding: 2px;
  }
</style>
<body>
<h2 id="cluster-info"><a href="#{{.ClusterName}}-info">Displaying information for {{.ClusterName}}</a></h2>
<h3 id="versions"><a href="#{{.ClusterName}}-versions">Versions</a></h3>
<table>
  <tr>
    <td>subctl version:</td>
    <td>{{.Versions.Subctl}}</td>
  </tr>
  <tr>
    <td>Submariner version:</td>
    <td>{{.Versions.Subm}}</td>
  </tr>
  <tr>
    <td>Kubernetes Server version:</td>
    <td>{{.Versions.K8sServer}}</td>
  </tr>
</table>
<h3 id="cluster-config"><a href="#{{.ClusterName}}-cluster-config">Cluster configuration</a></h3>
<table>
  <tr>
    <td>CNI Plugin:</td>
    <td>{{.ClusterConfig.CNIPlugin}}</td>
  </tr>
  <tr>
    <td>Cloud Provider:</td>
    <td>{{.ClusterConfig.CloudProvider}}</td>
  </tr>
  <tr>
    <td>Total node(s)</td>
    <td>{{.ClusterConfig.TotalNode}}</td>
  </tr>
  <tr>
    <td>Master node(s)</td>
    <td>{{.ClusterConfig.MasterNodeNumber}}</td>
  </tr>
  {{range $name, $uuid := .ClusterConfig.MasterNode}}
    <tr>
      <td>&nbsp;</td>
      <td>{{$name}}: {{$uuid}}</td>
    </tr>
  {{end}}
  <tr>
    <td>Gateway node(s)</td>
    <td>{{.ClusterConfig.GWNodeNumber}}</td>
  </tr>
  {{range $name, $uuid := .ClusterConfig.GatewayNode}}
    <tr>
      <td>&nbsp;</td>
      <td>{{$name}}: {{$uuid}}</td>
    </tr>
  {{end}}
</table>
<h3 id="node-info"><a href="#{{.ClusterName}}-node-info">Node Information</a></h3>
<table style="table-layout:fixed; width:100%; text-align:left;">
  <tr>
    <th style="width: 15%;">Node name</th>
    <th style="width: 30%;">Operating System</th>
    <th style="width: 15%;">KubeProxy Version</th>
    <th style="width: 15%;">Internal IP</th>
    <th style="width: 15%;">External IP</th>
  </tr>
  {{range .NodeConfig}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Info.OperatingSystem}} {{.Info.OSImage}} {{.Info.KernelVersion}} {{.Info.Architecture}}</td>
      <td>{{.Info.KubeProxyVersion}}</td>
      <td>{{.InternalIPs}}</td>
      <td>{{.ExternalIPs}}</td>
    </tr>
  {{end}}
</table>
<h3 id="log-collected"><a href="#{{.ClusterName}}-log-collected">Summary of logs gathered</a></h3>
{{ if .PodLogs }}
  <table style="table-layout:fixed; width:100%; text-align:left;">
    <tr>
      <th style="width: 20%;">Pod name</th>
      <th style="width: 15%;">Namespace</th>
      <th style="width: 10%;">Pod state</th>
      <th style="width: 10%;">Node name</th>
      <th style="width: 5%;">Restart count</th>
      <th style="width: 25%;">Log file(s)</th>
    </tr>
    {{range .PodLogs}}
      <tr>
        <td>{{.PodName}}</td>
        <td>{{.Namespace}}</td>
        <td>{{.PodState}}</td>
        <td>{{.NodeName}}</td>
        {{ if gt .RestartCount 0 }}
          <td style="color: red">{{.RestartCount}}</td>
        {{ else }}
          <td>{{.RestartCount}}</td>
        {{end}}
        {{range $index, $filename := .LogFileName}}
          <td><a href="{{$filename}}" target="_blank">{{$filename}}</a></td>
        {{end}}
      </tr>
    {{end}}
  </table>
{{ else }}
  No Logs gathered
{{end}}
<h3 id="resources-collected"><a href="#{{.ClusterName}}-resources-collected">Summary of resources gathered</a></h3>
{{ if .ResourceInfo }}
  <table style="table-layout:fixed; width:100%; text-align:left;">
    <tr>
      <th style="width: 20%;">Resource name</th>
      <th style="width: 15%;">Namespace</th>
      <th style="width: 15%;">Resource type</th>
      <th style="width: 60%;">Resource file(s)</th>
    </tr>
    {{range .ResourceInfo}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Namespace}}</td>
        <td>{{.Type}}</td>
        <td><a href="{{.FileName}}" target="_blank">{{.FileName}}</a></td>
      </tr>
    {{end}}
  </table>
{{ else }}
  No resources gathered
{{end}}
</body>
</html>