---
name: Release Subctl devel

on:
  push:
    branches:
      - devel

jobs:
  release-subctl-on-push:
    if: github.repository_owner == 'submariner-io'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          fetch-depth: 0

      - name: Generate subctl version
        run: |
          echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
          echo "RELEASE=subctl-${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Generate the subctl release artifacts
        run: make build-cross VERSION=${{ env.BRANCH }}

      - name: Recreate the release with the updated artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release delete ${{ env.RELEASE }} -y || true
          git push -d origin ${{ env.RELEASE }} || true
          gh release create ${{ env.RELEASE }} dist/*.tar.xz --prerelease \
            --title "Cutting Edge: ${{ env.BRANCH }}" \
            --notes "Cutting edge binaries of \`subctl\` for '${{ env.BRANCH }}' branch, always updated to the latest merged code." \
            --target ${GITHUB_SHA}
