---
name: System Tests

on:
  pull_request:

permissions: {}

jobs:
  system-test:
    name: Deployment
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        globalnet: ['', 'globalnet']
    steps:
      - name: Check out the repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744

      - name: Deploy the environment and run the tests
        uses: submariner-io/shipyard/gh-actions/e2e@release-0.16
        with:
          target: system-test
          using: ${{ matrix.globalnet }}

      - name: Post mortem
        if: failure()
        uses: submariner-io/shipyard/gh-actions/post-mortem@release-0.16
